*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (max-width: 750px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 60%;
    }
}



.first-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/paul-green-4BmPrbvvj74-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 5px solid gray;
}

.logo {
    display: block;
    width: 70px;
    height: 50px;
    align-items: flex-start;
    margin-left: 50px;   
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 70px;
    background: rgb(33, 157, 179);
    position: fixed;
    border-bottom: 1px solid black;
    
}

nav .fas {
    display: none;
}

@media (max-width: 700px) {
    ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: grey;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}




.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}

.nav-links ul li a {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



ul li a:hover {
    font-size: larger;
    font-weight: 600;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid white;
    
}



.headline {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

@media (max-width: 700px) {
    .headline {
        padding-top: 150px !important;
        display: flex;
        flex-direction: column;
    }
}

.headline h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headline p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-primary {
    background: rgb(33, 157, 179) !important;
    width: 150px;
    align-self: center;
    border-radius: 20px !important;
    color: white;
    font-weight: bold !important;
    text-align: center !important;
    margin: 20px;
    border-color: black !important;
}

.btn-primary:hover {
    background: white !important;
    width:150px;
    align-self: center;
    border-radius: 20px !important;
    color: black !important;
    border-color: black !important;
    transition: 1s;
}

/* Recent works */

.recent-works {
    text-align: center;
    padding: 100px 20px;
    background: rgb(243, 235, 235);
}


.recent-works h2 {
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0 auto 60px auto;
    border-bottom: 2px solid black;
    max-width: 500px;
    padding-bottom: 10px;
}

@media (max-width: 300px) {
    .recent-works h2 {
        font-size: 40px;
    }
}

/* Project grid area */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media (max-width: 300px) {
    .project-grid {
        padding: 60px 10px;
    }
}

.project-grid a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.project-grid a:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.project {
    background: rgb(41, 40, 40);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.project:hover .code {
    color: #ff7f50;
}

.project h4 {
    padding-top: 10px;
    
}

.project p {
    color: rgb(179, 170, 170);
}

.project-image {
    height: 400px;
    width: 100%;
    object-fit: fill;
}

.code {
    
    color: rgb(41, 40, 40);
    transition: color 0.3s ease-out;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    
}

.btn-show-all {
    background: rgb(41, 40, 40);
    color: white;
    
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: rgb(33, 157, 179);
    color: white;
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 5px;
    transform: translateX(0);
    transition: 0.4s ease-out;
}

.about {
    background: rgb(202, 194, 194);
    text-align: center;
    padding: 100px 20px;
}

.about h2 {
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0 auto 60px auto;
    max-width: 500px;
    padding-bottom: 10px;
}
.about img {
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .about img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
}

.text-field {
    margin: 0 auto;
    border: 2px solid black;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.text-field p {
    padding: 10px;
}


.contact {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 20px;
    background: rgb(41, 40, 40);
}

.contact-header img {
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 40px;
    flex-wrap: wrap;
    
}

.contact-details {
    
    text-shadow: 2px 2px 1px #1f1f1f;
    
}


.contact-details:hover {
    transform: translateY(8px);
    transition: transform 0.5s ease-out;
}

footer {
    border-top: 4px solid black;
    padding: 20px;  
    font-weight: 300;
    background: rgb(41, 40, 40);
}

footer p {
    color: white;
    margin: 20px;
    
}

@media (max-width: 300px) {
    footer p {
        font-size: 10px;
    }
}

.footer-side {
    display: flex;
    justify-content: center;
    width: 100%;
}